
<h3><%= @cat.name %></h3>

<table>
    <thead>
        <tr>
            <th colspan="1">ATTRIBUTE</th>
            <th colspan="1">VALUE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AGE</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>BIRTH_DATE</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>COLOR</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>SEX</td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
</table>